/* Slider */

.switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #111;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    
  }
  
  .slider:before {
    background-color: #55EC20BF;
    bottom: 0;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    transition: .4s;
    width: 30px;
    opacity: 100%;
  }
  
  input:checked + .slider {
    background-color: #111;
    border: 1px dashed #55EC20BF;
  }
  
  input:checked + .slider:before {
    transform: translateX(31px);
    
  }
  
  .slider.round {
    border-radius: 34px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
/* Slider 2 */

/* Slider */

.switch2 {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 60px;
  }
  
  .switch2 #checkbox2 {
    display:none;
  }
  
  .slider2 {
    background-color: #111;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    
  }
  
  .slider2:before {
    background-color: #55EC20BF;
    bottom: 0;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    transition: .4s;
    width: 30px;
    opacity: 100%;
  }
  
  #checkbox2:checked + .slider2 {
    background-color: #111;
    border: 1px dashed #55EC20BF;
  }
  
  #checkbox2:checked + .slider2:before {
    transform: translateX(31px);
    
  }
  
  .slider2.round2 {
    border-radius: 34px;
    
  }
  
  .slider2.round2:before {
    border-radius: 50%;
  }
  
